In [71]:
d={'a':[1],'b':[2],'c':[3]}
import pandas as pd
df=pd.DataFrame(d)
df

   a  b  c
0  1  2  3

In [6]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [25]:
l1=[1,2,3]
l2=l1.copy()
l2.reverse()
l2

[3, 2, 1]

In [21]:
def Reverse(lst): 
    lst.reverse() 
    return lst 
      
lst = [10, 11, 12, 13, 14, 15] 
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [47]:
lst = [10, 11, 12, 13, 14, 15] 
lst.reverse()
lst.append(16)
lst.remove(16)
lst.insert(1,100)
lst

[15, 100, 14, 13, 12, 11, 10]

In [48]:
a=[1,2,3]
a.insert(1,100)
a

[1, 100, 2, 3]

In [61]:
a=10
def student(a):
    a=20
    return(a)
print(a)

20

In [77]:
a=["Hacker"]
for i in a:
    print(i)

Hacker

In [70]:
a=[1,2,3]
print(''.join(str(i) for i in a))

123