In [2]:
import pandas as pd
train = pd.read_csv(r"C:\Users\shabbir.anaswala\Downloads\Personel\Twitterr Sentiments\PatientNote_ACEP_New_175627_2019-02-13.csv",sep="|")

In [41]:
# Number of words
train['Word_Count']=train['Note'].apply(lambda x: len(str(x).split(" ")))
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,Type,Group1,Group2,Group3,ServiceProviderUid,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count
0,b6af995a-d988-40c4-a5ea-f2a99b7edba5,6ab2f944-2fae-4bd7-8029-3500e6ce6ed8,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,10 mL sterile water,2018-06-13 12:40:07.000,NaN,2018-10-04 01:26:22.257,NaN,2018-10-04 01:26:22.257,NaN,NaN,Maximal Sterile Barrier Technique,NaN,NaN,NaN,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,NaN,NaN,NaN,4
1,30be8b4a-0a58-4308-9026-f2a9c47051de,c32d74b0-2c56-49e8-893c-0c2f86408b4e,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Discharged,2018-01-10 02:33:00.000,NaN,2018-04-06 05:11:52.250,NaN,2018-04-06 05:11:52.250,NaN,NaN,Patient_Arrival_ED_and_Patient_Depart_ED,Jan 10 2018 2:33AM,Jan 10 2018 7:16AM,NaN,558efdc6-1177-4077-885b-904e4e980f64,9231242_Arrival_ED_and_Depart_ED10-JAN-2018 12...,NaN,NaN,1
2,3755e9b4-2fc3-4f12-8d64-f2aa35807bb7,22c20d0e-ea23-44a1-a531-c7476c4c7d31,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Post-menopause,2018-10-12 00:19:54.000,NaN,2019-02-11 05:06:37.760,NaN,2019-02-11 05:08:08.913,NaN,NaN,Hysterectomy,NaN,NaN,NaN,558efdc6-1177-4077-885b-904e4e980f64,NaN,NaN,NaN,1
3,673d19e3-0bdf-454a-9776-f2ae49383c55,99fa73cc-7c9d-4fb4-ade6-16e4b813c017,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Home or Self Care,2018-04-14 08:14:13.000,NaN,2018-05-24 03:16:38.283,NaN,2018-06-08 06:18:45.097,NaN,NaN,Patient_Arrival_ED_and_Patient_Depart_ED,Apr 14 2018 8:14AM,Apr 14 2018 11:36AM,NaN,558efdc6-1177-4077-885b-904e4e980f64,24509792_EncounterStatus_ED_and_Depart_14-APR-...,NaN,NaN,4
4,a35c12ba-f6d3-4886-a3cf-f2b01b28148c,f2be2deb-eae0-4fa0-a6a9-198614535ac0,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Patient_Arrival_ED_and_Patient_Depart_ED,2018-04-15 04:25:09.000,NaN,2019-02-11 05:05:24.810,NaN,2019-02-11 05:05:24.810,NaN,NaN,Apr 14 2018 11:25PM,Apr 14 2018 11:36PM,Discharge patient:,NaN,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,81195641,NaN,4/15/2018 4:45:00 AM,1

In [42]:
# Number of characters
train['Charater_Count']=train['Note'].apply(lambda x: len(str(x)))
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,...,Group1,Group2,Group3,ServiceProviderUid,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count,Charater_Count
0,b6af995a-d988-40c4-a5ea-f2a99b7edba5,6ab2f944-2fae-4bd7-8029-3500e6ce6ed8,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,10 mL sterile water,2018-06-13 12:40:07.000,NaN,2018-10-04 01:26:22.257,NaN,2018-10-04 01:26:22.257,NaN,...,Maximal Sterile Barrier Technique,NaN,NaN,NaN,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,NaN,NaN,NaN,4,19
1,30be8b4a-0a58-4308-9026-f2a9c47051de,c32d74b0-2c56-49e8-893c-0c2f86408b4e,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Discharged,2018-01-10 02:33:00.000,NaN,2018-04-06 05:11:52.250,NaN,2018-04-06 05:11:52.250,NaN,...,Patient_Arrival_ED_and_Patient_Depart_ED,Jan 10 2018 2:33AM,Jan 10 2018 7:16AM,NaN,558efdc6-1177-4077-885b-904e4e980f64,9231242_Arrival_ED_and_Depart_ED10-JAN-2018 12...,NaN,NaN,1,10
2,3755e9b4-2fc3-4f12-8d64-f2aa35807bb7,22c20d0e-ea23-44a1-a531-c7476c4c7d31,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Post-menopause,2018-10-12 00:19:54.000,NaN,2019-02-11 05:06:37.760,NaN,2019-02-11 05:08:08.913,NaN,...,Hysterectomy,NaN,NaN,NaN,558efdc6-1177-4077-885b-904e4e980f64,NaN,NaN,NaN,1,14
3,673d19e3-0bdf-454a-9776-f2ae49383c55,99fa73cc-7c9d-4fb4-ade6-16e4b813c017,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Home or Self Care,2018-04-14 08:14:13.000,NaN,2018-05-24 03:16:38.283,NaN,2018-06-08 06:18:45.097,NaN,...,Patient_Arrival_ED_and_Patient_Depart_ED,Apr 14 2018 8:14AM,Apr 14 2018 11:36AM,NaN,558efdc6-1177-4077-885b-904e4e980f64,24509792_EncounterStatus_ED_and_Depart_14-APR-...,NaN,NaN,4,17
4,a35c12ba-f6d3-4886-a3cf-f2b01b28148c,f2be2deb-eae0-4fa0-a6a9-198614535ac0,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Patient_Arrival_ED_and_Patient_Depart_ED,2018-04-15 04:25:09.000,NaN,2019-02-11 05:05:24.810,NaN,2019-02-11 05:05:24.810,NaN,...,Apr 14 2018 11:25PM,Apr 14 2018 11:36PM,Discharge patient:,NaN,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,81195641,NaN,4/15/2018 4:45:00 AM,1,40

In [43]:
#Average Word Length
def avg_word(sentence):
    words=sentence.split()
    return(sum(len(word) for word in words)/len(words))
train['Avg_Word']=train['Note'].apply(lambda x: avg_word(x))
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,...,Group2,Group3,ServiceProviderUid,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count,Charater_Count,Avg_Word
0,b6af995a-d988-40c4-a5ea-f2a99b7edba5,6ab2f944-2fae-4bd7-8029-3500e6ce6ed8,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,10 mL sterile water,2018-06-13 12:40:07.000,NaN,2018-10-04 01:26:22.257,NaN,2018-10-04 01:26:22.257,NaN,...,NaN,NaN,NaN,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,NaN,NaN,NaN,4,19,4.0
1,30be8b4a-0a58-4308-9026-f2a9c47051de,c32d74b0-2c56-49e8-893c-0c2f86408b4e,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Discharged,2018-01-10 02:33:00.000,NaN,2018-04-06 05:11:52.250,NaN,2018-04-06 05:11:52.250,NaN,...,Jan 10 2018 2:33AM,Jan 10 2018 7:16AM,NaN,558efdc6-1177-4077-885b-904e4e980f64,9231242_Arrival_ED_and_Depart_ED10-JAN-2018 12...,NaN,NaN,1,10,10.0
2,3755e9b4-2fc3-4f12-8d64-f2aa35807bb7,22c20d0e-ea23-44a1-a531-c7476c4c7d31,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Post-menopause,2018-10-12 00:19:54.000,NaN,2019-02-11 05:06:37.760,NaN,2019-02-11 05:08:08.913,NaN,...,NaN,NaN,NaN,558efdc6-1177-4077-885b-904e4e980f64,NaN,NaN,NaN,1,14,14.0
3,673d19e3-0bdf-454a-9776-f2ae49383c55,99fa73cc-7c9d-4fb4-ade6-16e4b813c017,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Home or Self Care,2018-04-14 08:14:13.000,NaN,2018-05-24 03:16:38.283,NaN,2018-06-08 06:18:45.097,NaN,...,Apr 14 2018 8:14AM,Apr 14 2018 11:36AM,NaN,558efdc6-1177-4077-885b-904e4e980f64,24509792_EncounterStatus_ED_and_Depart_14-APR-...,NaN,NaN,4,17,3.5
4,a35c12ba-f6d3-4886-a3cf-f2b01b28148c,f2be2deb-eae0-4fa0-a6a9-198614535ac0,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Patient_Arrival_ED_and_Patient_Depart_ED,2018-04-15 04:25:09.000,NaN,2019-02-11 05:05:24.810,NaN,2019-02-11 05:05:24.810,NaN,...,Apr 14 2018 11:36PM,Discharge patient:,NaN,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,81195641,NaN,4/15/2018 4:45:00 AM,1,40,40.0

In [15]:
# number of stop words
from nltk.corpus import stopwords
stop = stopwords.words('english')

train['stopwords'] = train['Note'].apply(lambda x: len([x for x in x.split() if x in stop]))
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,...,Group3,ServiceProviderUid,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count,Charater_Count,Avg_Word,stopwords
0,9a04b837-5c27-41f0-b9d4-00000a7af57a,ff2ee7c5-dc9d-4f26-a2b0-283cd99dbf7c,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Arrival Departure Date,2018-05-21,NaN,2018-12-13 03:51:10.367000000,NaN,2018-12-13 03:51:17.330000000,NaN,...,ACUTE,NaN,329702f2-8178-4c3f-a11e-93303b97f702,V06580206,NaN,NaN,3,22,6.666667,0
1,0d144a58-4e9d-48bc-87b3-00003425adb4,768fd763-bd3e-414d-8939-49e12e9a03ec,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Arrival Departure Date,2018-09-30,NaN,2018-12-27 07:17:57.557000000,NaN,2018-12-27 07:17:57.557000000,NaN,...,HOME,NaN,329702f2-8178-4c3f-a11e-93303b97f702,V06683865,NaN,NaN,3,22,6.666667,0
2,f3d6ec6f-5ba3-42d8-af66-0000fbd8d63f,0b3fb540-55dc-44e4-a258-cdfb98781240,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Arrival Departure Date,2018-11-03,NaN,2019-01-15 06:08:14.950000000,NaN,2019-01-15 06:08:14.950000000,NaN,...,HOME,NaN,329702f2-8178-4c3f-a11e-93303b97f702,V06714240,NaN,NaN,3,22,6.666667,0
3,82d0e11f-4c9e-4bd6-9bef-000177f4b6dd,fd1e6bd3-745f-47ce-a561-5660dbb72a54,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Follow up appointments booked?,2018-03-19,NaN,2019-01-28 07:29:12.343000000,NaN,2019-01-28 07:29:12.343000000,NaN,...,NaN,NaN,329702f2-8178-4c3f-a11e-93303b97f702,V06528760,NaN,NaN,4,30,6.750000,1
4,d366bedf-3109-4084-a57c-00033c1dceb8,43bf9271-0108-404a-8af8-8c91194f052a,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Arrival Departure Date,2018-09-30,NaN,2018-12-27 07:17:57.557000000,NaN,2019-01-15 06:08:14.870000000,NaN,...,HOME,NaN,329702f2-8178-4c3f-a11e-93303b97f702,V06683941,NaN,NaN,3,22,6.666667,0

In [44]:
#Number of special characters
train['hastags'] = train['Note'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,...,Group3,ServiceProviderUid,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count,Charater_Count,Avg_Word,hastags
0,b6af995a-d988-40c4-a5ea-f2a99b7edba5,6ab2f944-2fae-4bd7-8029-3500e6ce6ed8,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,10 mL sterile water,2018-06-13 12:40:07.000,NaN,2018-10-04 01:26:22.257,NaN,2018-10-04 01:26:22.257,NaN,...,NaN,NaN,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,NaN,NaN,NaN,4,19,4.0,0
1,30be8b4a-0a58-4308-9026-f2a9c47051de,c32d74b0-2c56-49e8-893c-0c2f86408b4e,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Discharged,2018-01-10 02:33:00.000,NaN,2018-04-06 05:11:52.250,NaN,2018-04-06 05:11:52.250,NaN,...,Jan 10 2018 7:16AM,NaN,558efdc6-1177-4077-885b-904e4e980f64,9231242_Arrival_ED_and_Depart_ED10-JAN-2018 12...,NaN,NaN,1,10,10.0,0
2,3755e9b4-2fc3-4f12-8d64-f2aa35807bb7,22c20d0e-ea23-44a1-a531-c7476c4c7d31,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Post-menopause,2018-10-12 00:19:54.000,NaN,2019-02-11 05:06:37.760,NaN,2019-02-11 05:08:08.913,NaN,...,NaN,NaN,558efdc6-1177-4077-885b-904e4e980f64,NaN,NaN,NaN,1,14,14.0,0
3,673d19e3-0bdf-454a-9776-f2ae49383c55,99fa73cc-7c9d-4fb4-ade6-16e4b813c017,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Home or Self Care,2018-04-14 08:14:13.000,NaN,2018-05-24 03:16:38.283,NaN,2018-06-08 06:18:45.097,NaN,...,Apr 14 2018 11:36AM,NaN,558efdc6-1177-4077-885b-904e4e980f64,24509792_EncounterStatus_ED_and_Depart_14-APR-...,NaN,NaN,4,17,3.5,0
4,a35c12ba-f6d3-4886-a3cf-f2b01b28148c,f2be2deb-eae0-4fa0-a6a9-198614535ac0,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Patient_Arrival_ED_and_Patient_Depart_ED,2018-04-15 04:25:09.000,NaN,2019-02-11 05:05:24.810,NaN,2019-02-11 05:05:24.810,NaN,...,Discharge patient:,NaN,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,81195641,NaN,4/15/2018 4:45:00 AM,1,40,40.0,0

In [45]:
#Number of numerics
train['Numerics'] = train['Note'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,...,ServiceProviderUid,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count,Charater_Count,Avg_Word,hastags,Numerics
0,b6af995a-d988-40c4-a5ea-f2a99b7edba5,6ab2f944-2fae-4bd7-8029-3500e6ce6ed8,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,10 mL sterile water,2018-06-13 12:40:07.000,NaN,2018-10-04 01:26:22.257,NaN,2018-10-04 01:26:22.257,NaN,...,NaN,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,NaN,NaN,NaN,4,19,4.0,0,1
1,30be8b4a-0a58-4308-9026-f2a9c47051de,c32d74b0-2c56-49e8-893c-0c2f86408b4e,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Discharged,2018-01-10 02:33:00.000,NaN,2018-04-06 05:11:52.250,NaN,2018-04-06 05:11:52.250,NaN,...,NaN,558efdc6-1177-4077-885b-904e4e980f64,9231242_Arrival_ED_and_Depart_ED10-JAN-2018 12...,NaN,NaN,1,10,10.0,0,0
2,3755e9b4-2fc3-4f12-8d64-f2aa35807bb7,22c20d0e-ea23-44a1-a531-c7476c4c7d31,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Post-menopause,2018-10-12 00:19:54.000,NaN,2019-02-11 05:06:37.760,NaN,2019-02-11 05:08:08.913,NaN,...,NaN,558efdc6-1177-4077-885b-904e4e980f64,NaN,NaN,NaN,1,14,14.0,0,0
3,673d19e3-0bdf-454a-9776-f2ae49383c55,99fa73cc-7c9d-4fb4-ade6-16e4b813c017,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Home or Self Care,2018-04-14 08:14:13.000,NaN,2018-05-24 03:16:38.283,NaN,2018-06-08 06:18:45.097,NaN,...,NaN,558efdc6-1177-4077-885b-904e4e980f64,24509792_EncounterStatus_ED_and_Depart_14-APR-...,NaN,NaN,4,17,3.5,0,0
4,a35c12ba-f6d3-4886-a3cf-f2b01b28148c,f2be2deb-eae0-4fa0-a6a9-198614535ac0,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Patient_Arrival_ED_and_Patient_Depart_ED,2018-04-15 04:25:09.000,NaN,2019-02-11 05:05:24.810,NaN,2019-02-11 05:05:24.810,NaN,...,NaN,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,81195641,NaN,4/15/2018 4:45:00 AM,1,40,40.0,0,0

In [46]:
#Number of Uppercase words
train['Upper_Case'] = train['Note'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,...,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count,Charater_Count,Avg_Word,hastags,Numerics,Upper_Case
0,b6af995a-d988-40c4-a5ea-f2a99b7edba5,6ab2f944-2fae-4bd7-8029-3500e6ce6ed8,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,10 mL sterile water,2018-06-13 12:40:07.000,NaN,2018-10-04 01:26:22.257,NaN,2018-10-04 01:26:22.257,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,NaN,NaN,NaN,4,19,4.0,0,1,0
1,30be8b4a-0a58-4308-9026-f2a9c47051de,c32d74b0-2c56-49e8-893c-0c2f86408b4e,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Discharged,2018-01-10 02:33:00.000,NaN,2018-04-06 05:11:52.250,NaN,2018-04-06 05:11:52.250,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,9231242_Arrival_ED_and_Depart_ED10-JAN-2018 12...,NaN,NaN,1,10,10.0,0,0,0
2,3755e9b4-2fc3-4f12-8d64-f2aa35807bb7,22c20d0e-ea23-44a1-a531-c7476c4c7d31,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Post-menopause,2018-10-12 00:19:54.000,NaN,2019-02-11 05:06:37.760,NaN,2019-02-11 05:08:08.913,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,NaN,NaN,NaN,1,14,14.0,0,0,0
3,673d19e3-0bdf-454a-9776-f2ae49383c55,99fa73cc-7c9d-4fb4-ade6-16e4b813c017,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Home or Self Care,2018-04-14 08:14:13.000,NaN,2018-05-24 03:16:38.283,NaN,2018-06-08 06:18:45.097,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,24509792_EncounterStatus_ED_and_Depart_14-APR-...,NaN,NaN,4,17,3.5,0,0,0
4,a35c12ba-f6d3-4886-a3cf-f2b01b28148c,f2be2deb-eae0-4fa0-a6a9-198614535ac0,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,Patient_Arrival_ED_and_Patient_Depart_ED,2018-04-15 04:25:09.000,NaN,2019-02-11 05:05:24.810,NaN,2019-02-11 05:05:24.810,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,81195641,NaN,4/15/2018 4:45:00 AM,1,40,40.0,0,0,0

In [47]:
# Lower case
train['Note']=train['Note'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,...,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count,Charater_Count,Avg_Word,hastags,Numerics,Upper_Case
0,b6af995a-d988-40c4-a5ea-f2a99b7edba5,6ab2f944-2fae-4bd7-8029-3500e6ce6ed8,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,10 ml sterile water,2018-06-13 12:40:07.000,NaN,2018-10-04 01:26:22.257,NaN,2018-10-04 01:26:22.257,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,NaN,NaN,NaN,4,19,4.0,0,1,0
1,30be8b4a-0a58-4308-9026-f2a9c47051de,c32d74b0-2c56-49e8-893c-0c2f86408b4e,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,discharged,2018-01-10 02:33:00.000,NaN,2018-04-06 05:11:52.250,NaN,2018-04-06 05:11:52.250,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,9231242_Arrival_ED_and_Depart_ED10-JAN-2018 12...,NaN,NaN,1,10,10.0,0,0,0
2,3755e9b4-2fc3-4f12-8d64-f2aa35807bb7,22c20d0e-ea23-44a1-a531-c7476c4c7d31,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,post-menopause,2018-10-12 00:19:54.000,NaN,2019-02-11 05:06:37.760,NaN,2019-02-11 05:08:08.913,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,NaN,NaN,NaN,1,14,14.0,0,0,0
3,673d19e3-0bdf-454a-9776-f2ae49383c55,99fa73cc-7c9d-4fb4-ade6-16e4b813c017,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,home or self care,2018-04-14 08:14:13.000,NaN,2018-05-24 03:16:38.283,NaN,2018-06-08 06:18:45.097,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,24509792_EncounterStatus_ED_and_Depart_14-APR-...,NaN,NaN,4,17,3.5,0,0,0
4,a35c12ba-f6d3-4886-a3cf-f2b01b28148c,f2be2deb-eae0-4fa0-a6a9-198614535ac0,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,patient_arrival_ed_and_patient_depart_ed,2018-04-15 04:25:09.000,NaN,2019-02-11 05:05:24.810,NaN,2019-02-11 05:05:24.810,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,81195641,NaN,4/15/2018 4:45:00 AM,1,40,40.0,0,0,0

In [48]:
#Removing Punctuation
train['Note'] = train['Note'].str.replace('[^\w\s]','')
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,...,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count,Charater_Count,Avg_Word,hastags,Numerics,Upper_Case
0,b6af995a-d988-40c4-a5ea-f2a99b7edba5,6ab2f944-2fae-4bd7-8029-3500e6ce6ed8,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,10 ml sterile water,2018-06-13 12:40:07.000,NaN,2018-10-04 01:26:22.257,NaN,2018-10-04 01:26:22.257,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,NaN,NaN,NaN,4,19,4.0,0,1,0
1,30be8b4a-0a58-4308-9026-f2a9c47051de,c32d74b0-2c56-49e8-893c-0c2f86408b4e,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,discharged,2018-01-10 02:33:00.000,NaN,2018-04-06 05:11:52.250,NaN,2018-04-06 05:11:52.250,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,9231242_Arrival_ED_and_Depart_ED10-JAN-2018 12...,NaN,NaN,1,10,10.0,0,0,0
2,3755e9b4-2fc3-4f12-8d64-f2aa35807bb7,22c20d0e-ea23-44a1-a531-c7476c4c7d31,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,postmenopause,2018-10-12 00:19:54.000,NaN,2019-02-11 05:06:37.760,NaN,2019-02-11 05:08:08.913,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,NaN,NaN,NaN,1,14,14.0,0,0,0
3,673d19e3-0bdf-454a-9776-f2ae49383c55,99fa73cc-7c9d-4fb4-ade6-16e4b813c017,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,home or self care,2018-04-14 08:14:13.000,NaN,2018-05-24 03:16:38.283,NaN,2018-06-08 06:18:45.097,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,24509792_EncounterStatus_ED_and_Depart_14-APR-...,NaN,NaN,4,17,3.5,0,0,0
4,a35c12ba-f6d3-4886-a3cf-f2b01b28148c,f2be2deb-eae0-4fa0-a6a9-198614535ac0,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,patient_arrival_ed_and_patient_depart_ed,2018-04-15 04:25:09.000,NaN,2019-02-11 05:05:24.810,NaN,2019-02-11 05:05:24.810,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,81195641,NaN,4/15/2018 4:45:00 AM,1,40,40.0,0,0,0

In [49]:
#Removing Stopwords
train['Note'] = train['Note'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,...,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count,Charater_Count,Avg_Word,hastags,Numerics,Upper_Case
0,b6af995a-d988-40c4-a5ea-f2a99b7edba5,6ab2f944-2fae-4bd7-8029-3500e6ce6ed8,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,10 ml sterile water,2018-06-13 12:40:07.000,NaN,2018-10-04 01:26:22.257,NaN,2018-10-04 01:26:22.257,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,NaN,NaN,NaN,4,19,4.0,0,1,0
1,30be8b4a-0a58-4308-9026-f2a9c47051de,c32d74b0-2c56-49e8-893c-0c2f86408b4e,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,discharged,2018-01-10 02:33:00.000,NaN,2018-04-06 05:11:52.250,NaN,2018-04-06 05:11:52.250,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,9231242_Arrival_ED_and_Depart_ED10-JAN-2018 12...,NaN,NaN,1,10,10.0,0,0,0
2,3755e9b4-2fc3-4f12-8d64-f2aa35807bb7,22c20d0e-ea23-44a1-a531-c7476c4c7d31,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,postmenopause,2018-10-12 00:19:54.000,NaN,2019-02-11 05:06:37.760,NaN,2019-02-11 05:08:08.913,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,NaN,NaN,NaN,1,14,14.0,0,0,0
3,673d19e3-0bdf-454a-9776-f2ae49383c55,99fa73cc-7c9d-4fb4-ade6-16e4b813c017,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,home self care,2018-04-14 08:14:13.000,NaN,2018-05-24 03:16:38.283,NaN,2018-06-08 06:18:45.097,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,24509792_EncounterStatus_ED_and_Depart_14-APR-...,NaN,NaN,4,17,3.5,0,0,0
4,a35c12ba-f6d3-4886-a3cf-f2b01b28148c,f2be2deb-eae0-4fa0-a6a9-198614535ac0,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,patient_arrival_ed_and_patient_depart_ed,2018-04-15 04:25:09.000,NaN,2019-02-11 05:05:24.810,NaN,2019-02-11 05:05:24.810,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,81195641,NaN,4/15/2018 4:45:00 AM,1,40,40.0,0,0,0

In [50]:
#Common word removal
freq = pd.Series(' '.join(train['Note']).split()).value_counts()[:10]
freq

patient_arrival_ed_and_patient_depart_ed    87497
care                                        46641
home                                        44111
self                                        40983
pain                                        22021
patient                                     20161
sterile                                     18779
male                                        18032
lmp                                         13220
reason                                      13212
dtype: int64

In [51]:
freq = list(freq)
train['Note'] = train['Note'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,...,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count,Charater_Count,Avg_Word,hastags,Numerics,Upper_Case
0,b6af995a-d988-40c4-a5ea-f2a99b7edba5,6ab2f944-2fae-4bd7-8029-3500e6ce6ed8,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,10 ml sterile water,2018-06-13 12:40:07.000,NaN,2018-10-04 01:26:22.257,NaN,2018-10-04 01:26:22.257,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,NaN,NaN,NaN,4,19,4.0,0,1,0
1,30be8b4a-0a58-4308-9026-f2a9c47051de,c32d74b0-2c56-49e8-893c-0c2f86408b4e,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,discharged,2018-01-10 02:33:00.000,NaN,2018-04-06 05:11:52.250,NaN,2018-04-06 05:11:52.250,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,9231242_Arrival_ED_and_Depart_ED10-JAN-2018 12...,NaN,NaN,1,10,10.0,0,0,0
2,3755e9b4-2fc3-4f12-8d64-f2aa35807bb7,22c20d0e-ea23-44a1-a531-c7476c4c7d31,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,postmenopause,2018-10-12 00:19:54.000,NaN,2019-02-11 05:06:37.760,NaN,2019-02-11 05:08:08.913,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,NaN,NaN,NaN,1,14,14.0,0,0,0
3,673d19e3-0bdf-454a-9776-f2ae49383c55,99fa73cc-7c9d-4fb4-ade6-16e4b813c017,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,home self care,2018-04-14 08:14:13.000,NaN,2018-05-24 03:16:38.283,NaN,2018-06-08 06:18:45.097,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,24509792_EncounterStatus_ED_and_Depart_14-APR-...,NaN,NaN,4,17,3.5,0,0,0
4,a35c12ba-f6d3-4886-a3cf-f2b01b28148c,f2be2deb-eae0-4fa0-a6a9-198614535ac0,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,patient_arrival_ed_and_patient_depart_ed,2018-04-15 04:25:09.000,NaN,2019-02-11 05:05:24.810,NaN,2019-02-11 05:05:24.810,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,81195641,NaN,4/15/2018 4:45:00 AM,1,40,40.0,0,0,0

In [52]:
#Rare words removal
freq = pd.Series(' '.join(train['Note']).split()).value_counts()[-10:]
freq

cellulitic                          1
coming                              1
sclerosisshortness                  1
c9210                               1
cholangitisother                    1
prev                                1
m549r7989                           1
shut                                1
time0201806090930000000000001260    1
r300r350                            1
dtype: int64

In [53]:
freq = list(freq)
train['Note'] = train['Note'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train.head()

,PatientNoteUid,PatientUid,ClinicalInformationModelSectionUid,Note,ReferenceDate,VisitUid,CreatedDate,CreatedByUid,ModifiedDate,ModifiedByUid,...,ServiceLocationUid,PracticePatientNoteKey,filename,Group4,Word_Count,Charater_Count,Avg_Word,hastags,Numerics,Upper_Case
0,b6af995a-d988-40c4-a5ea-f2a99b7edba5,6ab2f944-2fae-4bd7-8029-3500e6ce6ed8,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,10 ml sterile water,2018-06-13 12:40:07.000,NaN,2018-10-04 01:26:22.257,NaN,2018-10-04 01:26:22.257,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,NaN,NaN,NaN,4,19,4.0,0,1,0
1,30be8b4a-0a58-4308-9026-f2a9c47051de,c32d74b0-2c56-49e8-893c-0c2f86408b4e,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,discharged,2018-01-10 02:33:00.000,NaN,2018-04-06 05:11:52.250,NaN,2018-04-06 05:11:52.250,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,9231242_Arrival_ED_and_Depart_ED10-JAN-2018 12...,NaN,NaN,1,10,10.0,0,0,0
2,3755e9b4-2fc3-4f12-8d64-f2aa35807bb7,22c20d0e-ea23-44a1-a531-c7476c4c7d31,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,postmenopause,2018-10-12 00:19:54.000,NaN,2019-02-11 05:06:37.760,NaN,2019-02-11 05:08:08.913,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,NaN,NaN,NaN,1,14,14.0,0,0,0
3,673d19e3-0bdf-454a-9776-f2ae49383c55,99fa73cc-7c9d-4fb4-ade6-16e4b813c017,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,home self care,2018-04-14 08:14:13.000,NaN,2018-05-24 03:16:38.283,NaN,2018-06-08 06:18:45.097,NaN,...,558efdc6-1177-4077-885b-904e4e980f64,24509792_EncounterStatus_ED_and_Depart_14-APR-...,NaN,NaN,4,17,3.5,0,0,0
4,a35c12ba-f6d3-4886-a3cf-f2b01b28148c,f2be2deb-eae0-4fa0-a6a9-198614535ac0,a0f03da3-e431-4b5a-af8f-ba2472ca3a08,patient_arrival_ed_and_patient_depart_ed,2018-04-15 04:25:09.000,NaN,2019-02-11 05:05:24.810,NaN,2019-02-11 05:05:24.810,NaN,...,c8fc8e25-e4e4-4768-9673-c6e17a7d37e4,81195641,NaN,4/15/2018 4:45:00 AM,1,40,40.0,0,0,0

In [54]:
#Spelling correction
from textblob import TextBlob
train['Note'][:5].apply(lambda x: str(TextBlob(x).correct()))

0                         10 my sterile water
1                                  discharged
2                               postmenopause
3                              home self care
4    patient_arrival_ed_and_patient_depart_ed
Name: Note, dtype: object

In [55]:
from textblob import TextBlob 
analysis = TextBlob(train['Note'][1]).words

Tokenization


Tokenization refers to dividing the text into a sequence of words or sentences. In our example, we have used the textblob library to first transform our tweets into a blob and then converted them into a series of words.

Stemming

Stemming refers to the removal of suffices, like “ing”, “ly”, “s”, etc. by a simple rule-based approach. For this purpose, we will use PorterStemmer from the NLTK library.

In [56]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['Note'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                        10 ml steril water
1                                  discharg
2                              postmenopaus
3                            home self care
4    patient_arrival_ed_and_patient_depart_
Name: Note, dtype: object

Lemmatization

Lemmatization is a more effective option than stemming because it converts the word into its root word, rather than just stripping the suffices. It makes use of the vocabulary and does a morphological analysis to obtain the root word. Therefore, we usually prefer using lemmatization over stemming.

In [57]:
from textblob import Word
train['Note'] = train['Note'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['Note'].head()

0                         10 ml sterile water
1                                  discharged
2                               postmenopause
3                              home self care
4    patient_arrival_ed_and_patient_depart_ed
Name: Note, dtype: object

N-grams

N-grams are the combination of multiple words used together. Ngrams with N=1 are called unigrams. Similarly, bigrams (N=2), trigrams (N=3) and so on can also be used.

Unigrams do not usually contain as much information as compared to bigrams and trigrams. The basic principle behind n-grams is that they capture the language structure, like what letter or word is likely to follow the given one. The longer the n-gram (the higher the n), the more context you have to work with. Optimum length really depends on the application – if your n-grams are too short, you may fail to capture important differences. On the other hand, if they are too long, you may fail to capture the “general knowledge” and only stick to particular cases.

So, let’s quickly extract bigrams from our tweets using the ngrams function of the textblob library.

In [58]:
TextBlob(train['Note'][0]).ngrams(2)

[WordList(['10', 'ml']),
 WordList(['ml', 'sterile']),
 WordList(['sterile', 'water'])]

Term frequency

Term frequency is simply the ratio of the count of a word present in a sentence, to the length of the sentence.

Therefore, we can generalize term frequency as:

TF = (Number of times term T appears in the particular row) / (number of terms in that row)

Below, I have tried to show you the term frequency table of a tweet.

In [59]:
tf1 = (train['Note'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

        words  tf
0  discharged   1

Inverse Document Frequency

The intuition behind inverse document frequency (IDF) is that a word is not of much use to us if it’s appearing in all the documents.

Therefore, the IDF of each word is the log of the ratio of the total number of rows to the number of rows in which that word is present.

IDF = log(N/n), where, N is the total number of rows and n is the number of rows in which the word was present.

So, let’s calculate IDF for the same tweets for which we calculated the term frequency

The more the value of IDF, the more unique is the word.

In [60]:
import numpy as np
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['Note'].str.contains(word)])))

tf1

        words  tf       idf
0  discharged   1  5.460518

Term Frequency – Inverse Document Frequency (TF-IDF)

TF-IDF is the multiplication of the TF and IDF which we calculated above.

In [61]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

        words  tf       idf     tfidf
0  discharged   1  5.460518  5.460518

We can see that the TF-IDF has penalized words like ‘don’t’, ‘can’t’, and ‘use’ because they are commonly occurring words. However, it has given a high weight to “disappointed” since that will be very useful in determining the sentiment of the tweet.

We don’t have to calculate TF and IDF every time beforehand and then multiply it to obtain TF-IDF. Instead, sklearn has a separate function to directly obtain it:

In [62]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(train['Note'])

train_vect

<306961x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 697079 stored elements in Compressed Sparse Row format>

Bag of Words

Bag of Words (BoW) refers to the representation of text which describes the presence of words within the text data. The intuition behind this is that two similar text fields will contain similar kind of words, and will therefore have a similar bag of words. Further, that from the text alone we can learn something about the meaning of the document.

For implementation, sklearn provides a separate function for it as shown below:

In [63]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['Note'])
train_bow

<306961x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 722776 stored elements in Compressed Sparse Row format>

Sentiment Analysis

If you recall, our problem was to detect the sentiment of the tweet. So, before applying any ML/DL models (which can have a separate feature detecting the sentiment using the textblob library), let’s check the sentiment of the first few tweets.

In [64]:
train['Note'][:5].apply(lambda x: TextBlob(x).sentiment)

0    (0.0, 0.0)
1    (0.0, 0.0)
2    (0.0, 0.0)
3    (0.0, 0.0)
4    (0.0, 0.0)
Name: Note, dtype: object

Above, you can see that it returns a tuple representing polarity and subjectivity of each tweet. Here, we only extract polarity as it indicates the sentiment as value nearer to 1 means a positive sentiment and values nearer to -1 means a negative sentiment. This can also work as a feature for building a machine learning model.

In [65]:
train['sentiment'] = train['Note'].apply(lambda x: TextBlob(x).sentiment[0] )
train[['Note','sentiment']].head()

                                       Note  sentiment
0                       10 ml sterile water        0.0
1                                discharged        0.0
2                             postmenopause        0.0
3                            home self care        0.0
4  patient_arrival_ed_and_patient_depart_ed        0.0

In [3]:
train['Note'].to_csv(r"C:\Users\shabbir.anaswala\Downloads\Personel\Twitterr Sentiments\Note.csv")

Word Embedding is the representation of text in the form of vectors. The underlying idea here is that similar words will have a minimum distance between their vectors.

Word2Vec models require a lot of text, so either we can train it on our training data or we can use the pre-trained word vectors developed by Google, Wiki, etc.

Here, we will use pre-trained word vectors which can be downloaded from the glove website. There are different dimensions (50,100, 200, 300) vectors trained on wiki data. For this example, I have downloaded the 100-dimensional version of the model.

You can refer an article here to understand different form of word embeddings.

The first step here is to convert it into the word2vec format.